# --- General ---
.DS_Store
.vscode/
.idea/
*.log

# --- Docker & Infrastructure ---
# Ignore the local data volumes created by docker-compose
postgres_data/
redpanda_data/
rabbitmq_data/
redis_data/

# --- Python Services (Telemetry & FaaS) ---
# Virtual Environments
venv/
env/
.env

# Bytecode and caches
__pycache__/
*.py[cod]
.pytest_cache/

# --- Node.js Services & Frontend ---
node_modules/
dist/
.npm
*.local

# --- Go Services (Auth & Order) ---
# Binaries (if you built them)
main
main.exe
services/auth-service/auth-service
services/order-service/order-service

# Vendor directory (if you ever use it)
vendor/

# --- OS Specific ---
Thumbs.db